div.container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  align-items: center;
  padding: 0px 0px 60px 0px;
}
div.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1350px;
  padding: 40px 0px 0px 0px;
  gap: 12px;
}
div.title {
  font-size: 42px;
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
  color: #f2f3f4;
}
div.desc {
  font-size: 18px;
  text-align: center;
  max-width: 600px;
  color: #b1b2b3;
}
div.timeline-section {
  width: 100%;
  max-width: 1000px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.pd-card {
  padding-right: 8px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.toggleButton {
  background-color: transparent;
  border: 2px solid #854ce6 !important;
  color: #f2f3f4 !important;
  font-weight: 600 !important;
  padding: 8px 20px !important;
  border-radius: 8px !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out !important;
  text-transform: none !important; /* Prevents all caps */
}

.toggleButton:hover {
  background-color: #854ce6 !important;
  box-shadow: 0 0 15px rgba(133, 76, 230, 0.4);
  transform: translateY(-2px);
}

@media (max-width: 660px) {
  div.timeline-section {
    align-items: end;
  }
}

@media (max-width: 768px) {
  div.title {
    margin-top: 12px;
    font-size: 32px;
  }
  div.desc {
    margin-top: 12px;
    font-size: 16px;
  }
  .toggleButton {
    font-size: 14px;
    padding: 6px 16px;
  }
}

@media (max-width: 960px) {
  div.container {
    padding: 0px;
  }
  div.wrapper {
    flex-direction: column;
  }
}
