div.hero-container {
  background-color: #191924;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 80px 30px;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 95%, 0 100%);
  animation: fadeIn 1.6s ease forwards;
}
div.hero-bg {
  position: absolute;
  display: flex;
  justify-content: end;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 1360px;
  overflow: hidden;
  padding: 0 30px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
div.hero-inner-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
}
div.hero-left-container {
  width: 100%;
  order: 1;
}

div.hero-right-container {
  width: 100%;
  display: flex;
  order: 2;
  justify-content: end;
  align-self: flex-start;
  margin-top: 30px;
  gap: 12px;
}

/* HEROMEDIA MAGIC HAPPENS HERE */

.media-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 3px solid #854ce6;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2; /* Sits on top of the image */
  pointer-events: none; /* Mouse events pass through to the container */
  /* Match this time to the setTimeout in HeroMedia.jsx */
  filter: brightness(0.9); /* To match image better */
  transition: opacity 0.6s ease-in-out;
  will-change: opacity; /* Prepares the GPU for the animation */
}

.animation-delay {
  animation-delay: 1.3s; /* Optional: wait for layout to settle */
}

.hero-right-container {
  opacity: 0;
  animation: fadeInHero 1.2s ease-out forwards;
}

@keyframes fadeInHero {
  from {
    opacity: 0;
    transform: translateY(15px); /* Subtle lift effect */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.visible {
  opacity: 1;
}
.hidden {
  opacity: 0;
}

div.title {
  font-weight: 700;
  font-size: 50px;
  color: #f2f3f4;
  line-height: 68px;
}
div.text-loop {
  font-weight: 600;
  font-size: 32px;
  display: flex;
  gap: 6px;
  color: #f2f3f4;
  line-height: 68px;
}
span.typewriter-span {
  color: #854ce6;
  cursor: pointer;
}
div.subtitle {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 42px;
  color: #f2f3f495;
}
div.cta-container {
  display: flex;
}

@media (max-width: 768px) {
  .hero-image {
    max-width: 400px;
    max-height: 400px;
  }
  .media-wrapper {
    max-width: 400px;
    max-height: 400px;
  }
}

@media (max-width: 640px) {
  .hero-image {
    max-width: 280px;
    max-height: 280px;
  }
  div.hero-left-container {
    order: 2;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.hero-right-container {
    margin-bottom: 30px;
  }
  .media-wrapper {
    max-width: 280px;
    max-height: 280px;
  }
  div.title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 8px;
  }
  div.text-loop {
    font-size: 22px;
    line-height: 48px;
    margin-bottom: 16px;
  }
  div.subtitle {
    font-size: 16px;
    line-height: 32px;
  }
}
@media screen and (max-width: 960px) {
  div.hero-container {
    padding: 66px 16px;
  }
  div.hero-bg {
    justify-content: center;
    padding: 0 0px;
  }
  div.hero-inner-container {
    flex-direction: column;
  }
  div.hero-left-container {
    order: 2;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.hero-right-container {
    order: 1;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  div.title {
    text-align: center;
  }
  div.text-loop {
    text-align: center;
  }
  div.subtitle {
    text-align: center;
  }
  div.cta-container {
    width: 100%;
    justify-content: center;
  }
}
