div.container {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}
footer.wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  padding: 1rem;
  color: #f2f3f4;
}
a.logo {
  font-weight: 600;
  font-size: 20px;
  color: #854ce6;
}
nav.nav {
  width: 100%;
  max-width: 800px;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}
a.nav-link {
  color: #f2f3f4;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.2s ease-in-out;
}
a.nav-link:hover {
  color: #854ce6;
}
div.social-media-icons {
  display: flex;
  margin-top: 1rem;
}
a.social-media-icon {
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.5rem;
  color: #f2f3f4;
  transition: color 0.2s ease-in-out;
}
a.social-media-icon:hover {
  color: #854ce6;
}
p.copyright {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  text-align: center;
}

@media (max-width: 768px) {
  nav.nav {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    font-size: 12px;
  }
  a.nav-link {
    font-size: 1rem;
  }
}
