div.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000a7;
    display: flex;
    align-items: top;
    justify-content: center;
    overflow-y: scroll;
    transition: all 0.5s ease;
}
div.wrapper {
    max-width: 800px;
    width: 100%;
    border-radius: 16px;
    margin: 50px 12px;
    height: min-content;
    background-color: #171721;
    color: #F2F3F4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}
div.title {
    font-size: 28px;
    font-weight: 600;
    color: #F2F3F4;
    margin: 8px 6px 0px 6px;
}
div.date {
    font-size: 16px;
    margin: 2px 6px;
    font-weight: 400;
    color: #b1b2b3;
}
div.desc {
    font-size: 16px;
    font-weight: 400;
    color: #F2F3F4;
    margin: 8px 6px;
}
div.label {
    font-size: 20px;
    font-weight: 600;
    color: #F2F3F4;
    margin: 8px 6px;
}
div.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0px;
}
div.tag {
    font-size: 14px;
    font-weight: 400;
    color: #854CE6;
    margin: 4px;
    padding: 4px 8px;
    border-radius: 8px;
    background-color: #854CE620;
}
div.contributors {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    margin: 12px 6px;
}
div.contributor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
}
div.contributor-name {
    font-size: 16px;
    font-weight: 500;
    min-width: 160px;
    color: #F2F3F4;
}
div.role {
    font-size: 12px;
    font-weight: 200;
    margin-left: 46px;
    opacity: 80%;
    min-width: 160px;
}
div.contributor-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    gap: 12px;
}
div.contributor-socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    gap: 12px;
    width: 60px;
}
div.contributor-socials a {
    text-decoration: none;
    color: inherit;
    width: 24px;
}
div.button-group {
    display: flex;
    justify-content: flex-end;
    margin: 12px 0px;
    gap: 12px;
}
a.button {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #F2F3F4;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #854CE6;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
}
a.button:hover {
    background-color: #854CE699;
}
a.button.dull {
    background-color: #1C1E27;
    color: #b1b2b3;
}
a.button.dull:hover {
    background-color: #1C1C2799;
}
.contributor-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}


@media only screen and (max-width: 600px) {
    div.title {
        font-size: 24px;
        margin: 6px 6px 0px 6px;
    }
    div.desc {
        font-size: 14px;
        margin: 6px 6px;
    }
    div.label {
        font-size: 16px;
        margin: 8px 6px;
    }
    div.tags {
        margin: 4px 0px;
    }
    div.tag {
        font-size: 12px;
    }
    div.contributors {
        margin: 4px 6px;
    }
    div.contributor-name {
        font-size: 14px;
    }
    div.role {
        font-size: 16px;
        opacity: 100%;
    }
    a.button {
        font-size: 12px;
    }
    .contributorImage {
        width: 32px;
        height: 32px;
    }

}

@media only screen and (max-width: 768px){
    div.date {
        font-size: 12px;
    }
}