.chatContainer {
  display: flex;
  flex-direction: column-reverse;
  width: 98%;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  overflow: hidden;
  z-index: 50;
  transition: max-width ease 150ms;
}
.toggleButton {
  width: 100%;
  font-weight: bold;
  color: #fff;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 4px 4px -5px #323232;
  z-index: 20;
  cursor: pointer;
  order: 3;

  text-decoration: none;
  padding: 8px 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  background: hsla(271, 100%, 50%, 1);
  background: linear-gradient(
    225deg,
    hsla(271, 100%, 50%, 1) 0%,
    hsla(294, 100%, 50%, 1) 100%
  );
  background: -moz-linear-gradient(
    225deg,
    hsla(271, 100%, 50%, 1) 0%,
    hsla(294, 100%, 50%, 1) 100%
  );
  background: -webkit-linear-gradient(
    225deg,
    hsla(271, 100%, 50%, 1) 0%,
    hsla(294, 100%, 50%, 1) 100%
  );
}

.toggleButton:hover {
  transform: scale(1.05);
  transition: all 0.1s ease;
  filter: brightness(1);
}

.open .toggleButton {
  padding: 8px;
  font-size: 14px;
  filter: brightness(0.9);
}

.loading {
  height: 340px;
  opacity: 30%;
  position: relative;
}
.loadingBottom {
  position: relative;
  top: 44px;
}

.inputForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  column-gap: 6px;
  width: 100%;
  padding: 10px 10px 20px 10px;
  box-shadow: 0 -2px 4px -5px #191924ee;
  z-index: 20;
  order: 1;
  transition: height ease 100ms;
}
.closed .inputForm {
  height: 0;
  padding: 0;
  overflow: hidden;
}

.input {
  flex-grow: 1;
  width: 100%;
  min-width: 250px;
  padding: 16px 24px;
  border-radius: 60px;
  border: 2px solid transparent;
  font-size: 1em;
  background-color: #efefef;
  flex: 6;
}

.input:focus {
  outline: none !important;
  border-color: #222;
  background-color: white;
}

.inputForm .button {
  width: 48px;
  height: 48px;
  background-color: #191924;
  color: white;
  border: none;
  text-align: center;
  font-size: 18px;
  border-radius: 100%; /* Removed duplicate border-radius property */
  /* flex: 1; */
  cursor: pointer;
}
.inputForm .button .repositionIcon {
  bottom: -2px;
  left: -1px;
  position: relative;
}
.inputForm .button:hover {
  opacity: 0.95;
}

.button:disabled {
  background-color: lightgrey;
}

.messages {
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  order: 2;
  white-space: pre-wrap;
  transition: height ease 150ms;
}
.open .messages {
  height: 48vh;
  padding: 10px;
  animation: mobilebounce 150ms ease;
}
.closed .messages {
  height: 0;
  padding: 0;
  overflow: hidden;
}

.userMessage,
.assistantMessage,
.codeMessage {
  margin: 8px 0;
  padding: 8px 14px;
  align-self: flex-start;
  border-radius: 15px;
  max-width: 90%;
  overflow-wrap: break-word;
}

.assistantMessage img {
  max-width: 100%;
  margin: 8px 0px 8px 0px;
  border-radius: 8px;
}

.userMessage {
  align-self: flex-end;
  color: #fff;
  background-color: #191924ee;
}

.assistantMessage {
  background-color: #efefef;
}

.codeMessage {
  padding: 10px 16px;
  background-color: #e9e9e9;
  font-family: monospace;
  counter-reset: line;
}

.codeMessage > div {
  margin-top: 4px;
}

.codeMessage span {
  color: #b8b8b8;
  margin-right: 8px;
}

@media (max-width: 350px) {
  .button {
    flex-grow: 1;
  }
}

@media (min-width: 768px) {
  .chatContainer {
    max-width: 448px;
    right: 16px;
  }
  .messages {
    height: 384px;
  }
  .button {
    flex-grow: 0;
  }
  .toggleButton {
    padding: 16px 0;
  }
  /* .open .messages {
    animation: openbounce 150ms ease;
  } */
}

@media (min-width: 1024px) {
  .chatContainer.open {
    max-width: 512px;
  }
}

@keyframes openbounce {
  0% {
    height: 0;
  }
  50% {
    height: 51vh; /* Overshoot */
  }
  80% {
    height: 48vh; /* Slight undershoot */
  }
  100% {
    height: 49vh; /* Final resting height */
  }
}

@keyframes mobilebounce {
  0% {
    height: 0;
  }
  60% {
    height: 49vh; /* Overshoot height */
  }
  100% {
    height: 48vh; /* Final resting height */
  }
}
