.chatContainer {
  display: flex;
  flex-direction: column-reverse;
  width: 98%;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  overflow: hidden;
  z-index: 50;
  transition: max-width ease 150ms;
}
.chatContainer.initial {
  height: auto;
  background-color: transparent;
  box-shadow: none;
}

.chatContainer.closed {
  height: auto;
  background-color: #fff;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.toggleButton {
  width: 100%;
  font-weight: bold;
  color: #fff;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 4px 4px -5px #323232;
  z-index: 20;
  cursor: pointer;
  order: 3;

  text-decoration: none;
  padding: 8px 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  background: hsla(271, 100%, 50%, 1);
  background: linear-gradient(
    225deg,
    hsla(271, 100%, 50%, 1) 0%,
    hsla(294, 100%, 50%, 1) 100%
  );
  background: -moz-linear-gradient(
    225deg,
    hsla(271, 100%, 50%, 1) 0%,
    hsla(294, 100%, 50%, 1) 100%
  );
  background: -webkit-linear-gradient(
    225deg,
    hsla(271, 100%, 50%, 1) 0%,
    hsla(294, 100%, 50%, 1) 100%
  );
}

.toggleButton:hover {
  transform: scale(1.05);
  transition: all 0.1s ease;
  filter: brightness(1);
}

.open .toggleButton {
  padding: 8px;
  font-size: 14px;
  filter: brightness(0.9);
}

.loading {
  height: 340px;
  opacity: 30%;
  position: relative;
}
.loadingBottom {
  position: relative;
  top: 44px;
}

.inputForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  column-gap: 6px;
  width: 100%;
  box-shadow: 0 -2px 4px -5px #191924ee;
  z-index: 20;
  order: 1;
  overflow: hidden;
}
.initial .inputForm,
.closed .inputForm {
  height: 0;
  padding: 0;
  overflow: hidden;
  border: none;
}

.open .inputForm {
  height: auto;
  padding: 10px 10px 20px 10px;
}

.input {
  flex-grow: 1;
  width: 100%;
  min-width: 250px;
  padding: 16px 24px;
  border-radius: 60px;
  border: 2px solid transparent;
  font-size: 1em;
  background-color: #efefef;
  flex: 6;
}

.input:focus {
  outline: none !important;
  border-color: #222;
  background-color: white;
}

.inputForm .button {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  background-color: #191924;
  color: white;
  border: none;
  text-align: center;
  font-size: 18px;
  border-radius: 100%; /* Removed duplicate border-radius property */
  /* flex: 1; */
  cursor: pointer;
}
.inputForm .button .repositionIcon {
  bottom: -2px;
  left: -1px;
  position: relative;
}
.inputForm .button:hover {
  opacity: 0.95;
}

.button:disabled {
  background-color: lightgrey;
}

.messages {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  order: 2;
  white-space: pre-wrap;
}

.initial .messages {
  height: 0;
}

.open .messages {
  padding: 10px;
  animation: openbouncemobile 150ms ease forwards;
}
.closed .messages {
  height: 0;
  padding: 0;
  animation: closeslidemobile 150ms ease;
}

.userMessage,
.assistantMessage,
.codeMessage {
  margin: 8px 0;
  padding: 8px 14px;
  align-self: flex-start;
  border-radius: 15px;
  max-width: 90%;
  overflow-wrap: break-word;
}

.assistantMessage img {
  max-width: 100%;
  margin: 8px 0px 8px 0px;
  border-radius: 8px;
}
.assistantMessage a {
  color: #2563eb;
  font-weight: 600;
}

.userMessage {
  align-self: flex-end;
  color: #fff;
  background-color: #191924ee;
}

.assistantMessage {
  background-color: #efefef;
}

.codeMessage {
  padding: 10px 16px;
  background-color: #e9e9e9;
  font-family: monospace;
  counter-reset: line;
}

.codeMessage > div {
  margin-top: 4px;
}

.codeMessage span {
  color: #b8b8b8;
  margin-right: 8px;
}

.resumeCta {
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  width: 90%;
  margin: 15px auto;
  clear: both;
  text-align: center;
  margin: 20px;
  padding: 16px 0;
  color: #ffffff !important;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.2s ease-in-out !important;
  background: hsla(271, 100%, 50%, 1);
  background: linear-gradient(
    225deg,
    hsla(271, 100%, 50%, 1) 0%,
    hsla(294, 100%, 50%, 1) 100%
  );
  background: -moz-linear-gradient(
    225deg,
    hsla(271, 100%, 50%, 1) 0%,
    hsla(294, 100%, 50%, 1) 100%
  );
  background: -webkit-linear-gradient(
    225deg,
    hsla(271, 100%, 50%, 1) 0%,
    hsla(294, 100%, 50%, 1) 100%
  );
}

.suggestionsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  align-items: flex-end;
}

.suggestionHeader {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
  margin-right: 5px;
}

.suggestionButton {
  background: #1c1c27;
  padding: 10px 15px;
  border-radius: 18px;
  cursor: pointer;
  font-size: 0.85rem;
  text-align: left;
  transition: all 0.2s ease;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: buttondance 2s infinite ease-in-out;
}

/* Stagger the "dance" so they don't all move in perfect unison */
.suggestionButton:nth-child(even) {
  animation-delay: 0.2s;
}

.suggestionButton:hover {
  background: #8700ff;
  border-color: #333;
  animation-play-state: paused; /* Stop dancing when the user hovers to click */
  transform: scale(1.05), translateY(-2px); /* Slight pop out on hover */
}

@media (min-width: 768px) {
  .chatContainer {
    max-width: 448px;
    right: 16px;
  }
  .button {
    flex-grow: 0;
  }
  .toggleButton {
    padding: 16px 0;
  }
  .open .messages {
    height: 48vh;
    animation: openbounce 150ms ease forwards;
  }
  .closed .messages {
    animation: closeslide 150ms ease forwards;
  }
}

@media (min-width: 1024px) {
  .chatContainer.open {
    max-width: 512px;
  }
}

@keyframes openbouncemobile {
  0% {
    height: 0;
  }
  60% {
    height: 62vh; /* Overshoot height */
  }
  100% {
    height: 61vh; /* Final resting height */
  }
}
@keyframes openbounce {
  0% {
    height: 0;
  }
  60% {
    height: 49vh; /* Overshoot height */
  }
  100% {
    height: 48vh; /* Final resting height */
  }
}
@keyframes closeslidemobile {
  0% {
    height: 61vh;
  }
  100% {
    height: 0; /* Final resting height */
  }
}
@keyframes closeslide {
  0% {
    height: 48vh;
  }
  100% {
    height: 0; /* Final resting height */
  }
}
@keyframes buttondance {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-4px) rotate(-1deg);
  }
  75% {
    transform: translateY(-2px) rotate(1deg);
  }
}
