.carousel-image {
  width: 100%;
  height: 100%;
  max-height: 480px;
  aspect-ratio: 30/19;
  object-fit: contain;
  border-radius: 12px;
  margin-top: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
div.image-desc {
  margin: 20px 0 44px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 500) {
  .carousel-image {
    max-height: 220px;
  }
}
@media only screen and (max-width: 768px) {
  .carousel-image {
    max-height: 350px;
  }
}
